.acceuil-main-container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-top: 150px;
}

.acceuil-name-container {
    width: 100%;
    height: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.acceuil-name {
    width: 43%;
    height: 56%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.438);
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    overflow: visible;
    position: relative;
}

.acceuil-tr-top {
    position: absolute;
    top: 0;
    transform-origin: left;
    width: 100%;
    height: 2px;
    background-color: white;
}

.acceuil-tr-right {
    position: absolute;
    right: 0;
    height: 100%;
    width: 2px;
    background-color: white;
    transform-origin: top;
}

.acceuil-tr-bottom {
    position: absolute;
    bottom: 0;
    transform-origin: right;
    width: 100%;
    height: 2px;
    background-color: white;
}

.acceuil-tr-left {
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: white;
    transform-origin: bottom;
}

.acceuil-name-container h1 {
    font-weight: 300;
    font-size: 2vw;
}

.acceuil-button-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.acceuil-button {
    width: 175px;
    height: 55px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
    color: black;
}

.acceuil-button:hover {
    background-color: black;
    border-radius: 15px;
    transform: scale(1.05);
    color: yellow;
}

.acceuil-button p {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1vw;
    font-weight: 400;
}


/*
PHONE DEVICES
*/

@media screen and (max-width:990px) {
    .acceuil-main-container {
        padding-top: 125px;
    }


    .acceuil-name {
        width: 75%;
        height: 40%;
    }

    .acceuil-name-container h1 {
        font-size: 3.5vw;
    }

    .acceuil-button {
        width: 125px;
        height: 40px;
    }


    .acceuil-button p {
        font-size: 3vw;
        font-weight: 400;
    }    
}